/* based off https://static.lens.org/lens/9.7.9/attribution.css */

.lens-attribution, .lens-attribution * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Attribution Badge */
.lens-attribution {
	border: 1px solid #1a79c5;
	background: #1a79c5;
	border-radius: 2px;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	text-decoration: none !important;
}

.lens-attribution .lens-attribution-inner {
	display:  flex;
	align-items: center;
}

.lens-attribution .lens-att-logo {
	background: #ffffff;
	padding: 5px;
}

.lens-attribution svg {
	width: 14px;
	height: 14px;
	display: block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.lens-attribution svg .lens-st1 {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.lens-attribution .lens-att-text {
	color: #ffffff;
	font-size: 12px;
	padding: 2px 8px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-weight: normal;
}

.lens-attribution:hover {
	text-decoration: none;
	background: #004767;
	border-color: #004767;
}

.lens-attribution:hover svg {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.lens-attribution:hover .lens-st1-1 {
	fill: #45c700; /* Green */
	fill: #3daa03;
}

.lens-attribution:hover .lens-st1-2 {
	fill: #b961d6; /* Purple */
	fill: #b041d4;
}

.lens-attribution:hover .lens-st1-3 {
	fill: #d71920; /* Red */
}

.lens-attribution:hover .lens-st1-4 {
	fill: #ffb300; /* Yellow */
	fill: #ff9600;
}
